.banner,
.banner-project {
    background: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)),
        url("../images/Banner.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    color: white;
}

.banner-project {
    height: 400px;
}

.banner h1,
.banner-project h1 {
    color: white;
    font-size: 100px;
    min-height: 200px;
}

.banner-project h1 {
    min-height: 170px;
}

.list-social-media {
    display: flex;
    gap: 25px;
    color: white;
    list-style-type: none;
    font-size: 25px;
    padding: 0;
}


@media (max-width: 770px) {

    .banner h1,
    .banner-project h1 {
        font-size: 60px;
    }
}