body {
    display: flex;
    gap: 50px;
    width: 100%;
    flex-direction: column;
    background-color: #fff5d7;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #292929;
    overflow: scroll;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 30px;
}