.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 900;
}

.modal {
    z-index: 999;
    width: 630px;
    background-color: #fff;
    position: fixed;
    top: 50px;
    bottom: 50px;
    overflow: hidden;
    border-radius: 20px;
}

.language-modal,
.modal-projects,
.modify-modal-main {
    overflow: auto;
    padding: 50px;
    max-height: -webkit-fill-available;
    height: 100%;
}

.close-button {
    width: 15px;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: bold;
}

.button-modal-languages {
    display: flex;
    flex-direction: row-reverse;
}

i {
    font-size: 20px;
}

i:hover {
    cursor: pointer;
}

input#languages-name {
    width: 200px;
}

form#add-languages-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

form#add-projects-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form#add-projects-form input {
    margin: 0 0 25px 0;
    padding: 0;
    display: block;
    width: 50%;
    height: 48px;
    font-size: 13px;
    color: #292929;
    letter-spacing: -0.045em;
    font-weight: 500;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    resize: none;
    outline: 0;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

form#add-projects-form input[type='checkbox'] {
    margin: initial;
    width: auto;
    height: auto;
    letter-spacing: normal;
    -webkit-appearance: auto;
    appearance: auto;
    display: initial;
}

.languageId label {
    margin: 0 0 0 10px;
}

form#add-projects-form input#upload-image {
    display: none;
}

button#add-projects-form-submit {
    width: 150px;
    margin: auto;
}

button#add-projects-form-submit {
    width: 170px;
    margin: auto;
}

form#modify-projects-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-languages-form-submit {
    color: black;
}

.modify-language-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.modify-language-form label {
    color: black;
}