.portfolio-main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.add-projects-languages {
    display: flex;
    justify-content: space-evenly;
}

.language-logo {
    height: 50px;
}

.languages {
    display: flex;
    gap: 10px;
}

.language-button {
    display: flex;
    flex-direction: column;
}

.modal-languages {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.modal-languages .languages-contener {
    width: 100%;
}

.modal-languages .language-contener {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.modal-languages .language {
    display: flex;
    width: calc((100% - 200px)/3);
    flex-direction: column;
    align-items: center;
}

.modal-languages .languages-contener img {
    height: 100px;
}

.modal-one-language {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    align-items: center;
}

.top-modal-form-language {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-modal-form-language .button-modal {
    display: flex;
    justify-content: space-between;
}

button {
    text-decoration: none;
    border: none;
}

.section-projects {
    z-index: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form-img-preview {
    height: 300px;
}

#form-languages {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.upload-img-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.upload-section i {
    font-size: 60px;
}

.upload-img-section label {
    cursor: pointer;
}

input.description-project {
    height: 100px;
}

.filters-projects {
    display: flex;
    gap: 10px
}

.filters {
    padding: 0;
    position: relative;
    display: block;
    font-size: 15px;
    color: #999999;
    cursor: pointer;
    background-color: #FFFFFF;
}

.filters.active {
    color: #fdd912;
}

.button-add-language {
    width: 40%;
}

.selected-filter {
    color: #fdd912;
}