.project-detail {
    max-width: 1200px;
    margin: auto;
}

.project-detail-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-article-main {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.article-img {
    width: 1100px;
    height: 700px;
    position: relative;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.project-language-container ul {
    display: flex;
    gap: 20px;
    padding: 0;
}

.project-language-container li {
    list-style: none;
}

.project-language-container {
    margin: 0 20px 0 20px;
}

.delete-project-button,
.modify-project-button {
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    box-shadow: inset 0 0 0 #fdd912;
    -moz-box-shadow: inset 0 0 0 #fdd912;
    -webkit-box-shadow: inset 0 0 0 #fdd912;
    -khtml-box-shadow: inset 0 0 0 #fdd912;
    background-color: inherit;
    text-decoration: none;
    color: inherit;
}

.delete-project-button:hover,
.modify-project-button:hover {
    color: #292929;
    box-shadow: inset 0 -6px 0 #fdd912;
    -moz-box-shadow: inset 0 -6px 0 #fdd912;
    -webkit-box-shadow: inset 0 -6px 0 #fdd912;
    -khtml-box-shadow: inset 0 -6px 0 #fdd912;
}

.button-project {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.main-project {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.git-hub-project a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.git-hub-project {
    margin: 0 20px 0 20px;
}

.project-description {
    margin: 0 20px 0 20px;
}

@media (max-width: 770px) {
    .article-img {
        width: 100%;
        height: 100%;
    }

    .project-detail {
        margin: 10px;

    }

    img {
        object-fit: contain;
    }
}